.top-nav {
  background: #383838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top-nav img {
  width: 8em;
  height: 8em;
}

.top-nav li a {
  color: white;
  font-size: 1.2rem;
}

.top-nav li a:hover {
  color: #d35266;
}

.top-nav button {
  background: #888;
  padding: 0.7em;
  float: right;
}

.contents-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents-right button {
  margin: 0.5em;
  font-size: 1.2rem;
  font-weight: 400;
}

.contents-right button:hover {
  color: #d35266;
  background-color: #383838;
}

.contents-right button:first-child {
  background-color: #d35266;
}

.contents-right button:first-child:hover {
  color: #d35266;
  background-color: #383838;
}

.nav-catagories {
  background: #383838;
  border: none;
}

.nav-catagories:hover {
  color: #d35266;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../imgs/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #383838;
  width: 100%;
  height: 30em;
}

.hero h1 {
  font-weight: 700;
  font-size: 8rem;
  color: #d35266;
}

.hero h3 {
  padding-bottom: 2em;
}

.hero .hero-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 1.3em;
}

.hero .hero-search input {
  width: 16em;
  margin-right: 0.2em;
  font-size: 1.3em;
}

.hero .hero-search button {
  background: #383838;
  font-size: 0.8em;
}

.hero .hero-search button:hover {
  background: #d35266;
}

.hero .hero-search ul {
  padding-bottom: 0.5em;
}

.hero .menu li a {
  color: #383838;
  padding: 0 0 0 1em !important;
  width: 7em;
}

.hero .menu li a:hover {
  color: #d35266;
}

.middle {
  width: 75%;
  margin: 0 auto;
}

.middle h3 {
  margin: 2em 0 1em 0;
  color: #888;
  opacity: 0.8;
  font-weight: 700;
}

.middle > h3:not(:first-child) {
  border-top: 5px solid #d35266;
  padding-top: 1.5em;
}

.top-sellers {
  width: 100%;
  padding: 0 !important;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5em;
  padding: 16px;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(250px, 1fr);
  overflow-x: scroll;
  color: #383838;
}

.top-sellers div {
  border: 1px solid #383838;
  padding: 1em;
}

.top-sellers div h3 {
  margin-top: 3em;
  color: #d35266;
}

.top-sellers div img {
  width: 15em;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  margin: 1.5em 0 0 0;
  border: none !important;
  padding: 0 !important;
}

.cart button {
  margin: 0;
  background: #383838;
}

.cart button:hover {
  background: #d35266;
}

.cart svg {
  font-size: 1.5em;
  color: #d35266;
}

.diets {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5em;
  margin-bottom: 5em;
}

.diets div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15em;
  position: relative;
}

.diets div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.diets div img:hover {
  background: #383838;
}

.diets div h3 {
  color: white;
  font-weight: 900;
  position: absolute;
  background: #383838;
  opacity: 0.8;
  width: 100%;
  text-align: center;
}

footer {
  width: 75%;
  margin: 0 auto;
  border-top: 5px solid #d35266;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 5em;
  justify-items: center;
}

.middle-footer {
  margin-top: 3em;
}

.middle-footer h4 {
  color: #888;
  font-weight: 700;
}

.middle-footer a {
  padding-left: 0 !important;
}

.right-footer {
  margin-top: 3em;
}

.right-footer h4 {
  color: #888;
  font-weight: 700;
}

.right-footer a {
  padding-left: 0 !important;
}
/*# sourceMappingURL=main.css.map */