.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../imgs/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $black-color;
  width: 100%;
  height: 30em;

  h1 {
    font-weight: 700;
    font-size: 8rem;
    color: $red-color;
  }

  h3 {
    padding-bottom: 2em;
  }

  .hero-search-home-page {
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 1.3em;
    max-width: 80%;
    justify-content: center;

    input {
      width: 55%;
      margin-right: 0.2em;
      font-size: 1rem;
      margin-bottom: 0;
      padding: 1.5em;
    }

    button {
      background: $black-color;
      font-size: 0.8em;
      margin-bottom: 0;

      &:hover {
        background: $red-color;
      }
    }

    ul {
      padding-bottom: 0;
      width: 35%;
    }
  }

  .menu li a {
    color: white;
    padding: 0.65em !important;
    margin-right: 0.2em;
    background: $gray-color;

    &:hover {
      background: white;
      color: $black-color;
    }
  }
}

#responsive-menu {
  background: $gray-color;

  ul {
    background: $gray-color;

    li {
      a {
        color: $black-color;

        &:hover {
          background: $black-color;
          color: white;
        }
      }
    }
  }
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  display: none;
}

@media only screen and (max-width: 768px) {
  .hero {
    h1 {
      font-size: 5rem;
    }

    h3 {
      font-size: 1.5rem;
    }
  }

  .hero-search-home-page {
    ul {
      display: none;
    }
  }
}
