$red-color: #d35266;
$gray-color: #888;
$black-color: #383838;
$dropdownmenu-arrow-color: orange;

@import "./header";
@import "./hero";
@import "./middle";
@import "./footer";
@import "../search-page-css/hero-search";
@import "../search-page-css/filter-search";
