.top-nav {
  background: #383838;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 3em;
}

.top-nav img {
  width: 8em;
  height: 8em;
}

.top-nav li a {
  color: white;
  font-size: 1.2rem;
}

.top-nav li a:hover {
  color: #d35266;
}

.top-nav button {
  background: #888;
  padding: 0.7em;
  float: right;
}

.contents-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contents-right button {
  margin: 0.5em;
  font-size: 1.2rem;
  font-weight: 400;
}

.contents-right button:hover {
  color: #d35266;
  background-color: #383838;
}

.contents-right button:first-child {
  background-color: #d35266;
}

.contents-right button:first-child:hover {
  color: #d35266;
  background-color: #383838;
}

.nav-catagories {
  background: #383838;
  border: none;
}

.nav-catagories:hover {
  color: #d35266;
}

@media only screen and (max-width: 1024px) {
  .top-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../../imgs/hero-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #383838;
  width: 100%;
  height: 30em;
}

.hero h1 {
  font-weight: 700;
  font-size: 8rem;
  color: #d35266;
}

.hero h3 {
  padding-bottom: 2em;
}

.hero .hero-search-home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 1.3em;
  max-width: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero .hero-search-home-page input {
  width: 55%;
  margin-right: 0.2em;
  font-size: 1rem;
  margin-bottom: 0;
  padding: 1.5em;
}

.hero .hero-search-home-page button {
  background: #383838;
  font-size: 0.8em;
  margin-bottom: 0;
}

.hero .hero-search-home-page button:hover {
  background: #d35266;
}

.hero .hero-search-home-page ul {
  padding-bottom: 0;
  width: 35%;
}

.hero .menu li a {
  color: white;
  padding: 0.65em !important;
  margin-right: 0.2em;
  background: #888;
}

.hero .menu li a:hover {
  background: white;
  color: #383838;
}

#responsive-menu {
  background: #888;
}

#responsive-menu ul {
  background: #888;
}

#responsive-menu ul li a {
  color: #383838;
}

#responsive-menu ul li a:hover {
  background: #383838;
  color: white;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  display: none;
}

@media only screen and (max-width: 768px) {
  .hero h1 {
    font-size: 5rem;
  }
  .hero h3 {
    font-size: 1.5rem;
  }
  .hero-search-home-page ul {
    display: none;
  }
}

.middle {
  width: 75%;
  margin: 0 auto;
}

.middle h3 {
  margin: 2em 0 1em 0;
  color: #888;
  opacity: 0.8;
  font-weight: 700;
}

.middle > h3:not(:first-child) {
  border-top: 3px solid #d35266;
  padding-top: 1.5em;
}

.top-sellers-main-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-sellers-main-div > button {
  font-size: 1.5rem;
  background: #383838;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  border-radius: 50%;
}

.top-sellers-main-div > button:hover {
  background: #d35266;
}

.top-sellers-main-div > button:first-child {
  margin-right: 1em;
}

.top-sellers-main-div > button:last-child {
  margin-left: 1em;
}

.top-sellers {
  width: 100%;
  padding: 1em !important;
  display: -ms-grid;
  display: grid;
  grid-gap: 1.5em;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-flow: column;
  grid-auto-columns: minmax(250px, 1fr);
  overflow-x: scroll;
  color: #383838;
  border: 2px solid #d35266;
}

.top-sellers::-webkit-scrollbar {
  display: none;
}

.top-sellers div {
  border: 1px solid #383838;
  padding: 1em;
}

.top-sellers div h3 {
  margin-top: 3em;
  color: #d35266;
}

.top-sellers div img {
  width: 15em;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  margin: 1.5em 0 0 0;
  border: none !important;
  padding: 0 !important;
}

.cart button {
  margin: 0;
  background: #383838;
}

.cart button:hover {
  background: #d35266;
}

.cart svg {
  font-size: 1.5em;
  color: #d35266;
}

.diets {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5em;
  margin-bottom: 5em;
}

.diets div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 15em;
  position: relative;
}

.diets div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.diets div img:hover {
  background: #383838;
}

.diets div h4 {
  color: white;
  font-weight: 900;
  position: absolute;
  top: 0;
  left: 0;
  background: #383838;
  opacity: 0.8;
  width: 100%;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .diets {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  .diets {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

footer {
  width: 100%;
  margin: 0 auto;
  padding: 0 3em;
  border-top: 3px solid #d35266;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 5em;
  justify-items: center;
}

.middle-footer a {
  padding-left: 0 !important;
  color: #888;
}

.right-footer a {
  padding-left: 0 !important;
  color: #888;
}

.middle-footer a:hover {
  color: #d35266;
}

.right-footer a:hover {
  color: #d35266;
}

.right-footer {
  margin-top: 3em;
}

.right-footer h4 {
  color: #d35266;
  font-weight: 700;
  border-bottom: 2px solid #d35266;
  padding-bottom: 0.3em;
}

.middle-footer {
  margin-top: 3em;
}

.middle-footer h4 {
  color: #d35266;
  font-weight: 700;
  border-bottom: 2px solid #d35266;
  padding-bottom: 0.3em;
}

.settings-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3em;
  padding: 2em 0 0.5em 0;
}

.settings-options h5 {
  color: #d35266;
  padding-right: 1em;
  font-weight: 600;
}

.settings-options h6 {
  width: 100%;
  text-align: center;
  border: 1px solid #888;
  padding: 0.3em;
}

@media only screen and (max-width: 1024px) {
  footer {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    justify-items: start;
    grid-gap: 0;
  }
  .left-footer {
    grid-column: 1/-1;
  }
}

@media only screen and (max-width: 768px) {
  footer {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    justify-items: start;
    grid-gap: 0;
  }
}

@media only screen and (max-width: 576px) {
  footer {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    justify-items: start;
    grid-gap: 0;
  }
}

.hero-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: #d35266;
  background: -webkit-gradient(linear, left top, right top, from(#d35266), to(rgba(136, 136, 136, 0.947216)));
  background: linear-gradient(90deg, #d35266 0%, rgba(136, 136, 136, 0.947216) 100%);
  color: #383838;
  width: 100%;
  margin: 0 auto;
  height: 15em;
  padding: 2em;
}

.hero-search .hero-search-content {
  width: 60%;
  margin: 0 auto;
}

.hero-search h3 {
  font-weight: 700;
  font-size: 3rem;
  color: white;
}

.hero-search h6 {
  color: white;
  padding-bottom: 0.5em;
  font-weight: 700;
}

.hero-search .hero-search2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 700;
  font-size: 1.3em;
}

.hero-search .hero-search2 input {
  width: 15em;
  margin: 0 0.2em;
  font-size: 1rem;
  padding: 0.5em;
}

.hero-search .hero-search2 button {
  background: #383838;
  font-size: 0.7em;
  margin: 0;
}

.hero-search .hero-search2 button:hover {
  background: #d35266;
}

.search-menu {
  padding: 0.15em 0.5em;
  background-color: white;
}

.search-menu li a {
  color: #383838;
  display: inline;
  margin-right: 0.5em;
}

.search-menu li a:first-child {
  padding: 0 !important;
}

.search-menu li a:not(:first-child) {
  padding: 0.5em 0 !important;
}

.search-menu li a:hover {
  color: #d35266;
}

.dropdown.menu > li.is-active > a {
  color: #383838;
  background-color: white;
}

.dropdown.menu > li.is-active > ahover {
  color: #d35266;
}

.dropdown.menu > li.is-dropdown-submenu-parent > a::after {
  border-color: #383838 transparent transparent !important;
  margin-left: 1em;
  right: -17px;
}

@media only screen and (max-width: 768px) {
  .hero-search-content {
    margin-left: 0 !important;
  }
  .hero-search-content .hero-search2 input {
    width: 5em;
    margin: 0 0.2em;
    font-size: 1em;
    padding: 0.5em;
  }
  .search-menu {
    font-size: 1rem;
    padding: 0.4em 0.2em;
    margin: 0;
  }
  .dropdown.menu > li.is-dropdown-submenu-parent > a::after {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .search-menu {
    display: none;
  }
}

.search-grid {
  width: 75%;
  margin: 3em auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  grid-gap: 2em;
}

.filters {
  border-right: 1px solid #888;
}

.filters legend {
  border-bottom: 1px solid #888;
  margin: 1em 0;
  width: 90%;
}

fieldset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.search-results {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 2em;
}

.search-results .search-details {
  grid-column: 1/-1;
  color: #888;
  border-bottom: 1px solid #888;
}

.search-results h3 {
  margin-top: 2em;
}

.search-results button {
  margin-top: 5em;
}

.search-results div button {
  background: #d35266;
  color: white;
}

.search-results div button:hover {
  background: #383838;
}

.search-results div:not:first-child {
  border: 1px solid #888;
  padding: 2em;
  place-self: center;
}

.search-results ul {
  grid-column: 1/-1;
  place-self: center;
}

.pagination .current {
  background: #d35266;
}

@media only screen and (min-width: 769px) {
  .filter-toggle {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .search-grid {
    width: 95%;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .filter-toggle {
    display: inline;
    margin: 0 0 1rem 0 !important;
    background: #383838;
  }
  .filter-toggle:hover {
    background: #d35266;
  }
  .search-results {
    place-items: center;
  }
  .search-results h3 {
    margin-top: 1em;
  }
  .search-results button {
    margin-top: 2em;
  }
  .filters-small {
    padding-left: 1em;
  }
  .filters-large {
    display: none;
  }
  .search-details {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .search-details p {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

@media only screen and (max-width: 1024px) {
  .search-results {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}
/*# sourceMappingURL=main.css.map */